<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory >
		<!--数据库的基本信息 -->
		<!--property 元素用于配置Hibernate中的属性
		     键：值-->
		<!--数据库连接的驱动-->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!--连接数据库的用户名 -->
		<property name="hibernate.connection.username">root</property>
		<!--连接数据库的密码 -->
		<property name="hibernate.connection.password">root</property>
		<!--连接数据库的地址，路径 -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/day1</property>
        <!--hibernate.connection.autocommit:事务自动提交 -->
		<property name="hibernate.connection.autocommit">true</property>
		<!--show_sql：操作数据库时，会向控制台输出sql语句-->
		<property name="show_sql">true</property>
		<!--format_sql:打印sql语句前，会将sql语句先格式化 -->
		<property name="format_sql">true</property>
		<!--hbm2ddl.auto :是否自动生成表结构的策略配置
		  取值有四个：
		   update (最常用的取值）:如果当前数据库中不存在表结构，那么自动创建表结构，
		                          如果存在表结构，且表结构与实体一致，则不做修改
		                          若不一致，那么会修改表结构，会保留原有列（与原有列不同的时候，会将原有列保留，同时加上新的列）
		   create（用的很少）:无论是否存在表结构，每次启动Hibernate都会重新生成表结构，数据会丢失
		   create-drop（用的极少）:无论是否存在表结构，每次启动Hibernate都会重新生成表结构，并且在hibernate运行结束后会删除表结构
		   validate（用的很少）:不会自动创建表结构，也不会自动维护表结构，Hibernate只校验表结构，如果表结构不一致，就会报异常
		   -->
		<property name="hbm2ddl.auto">update</property>

		<!--数据库方言配置
		 org.hibernate.dialect.MySQLDialect (选择最短的）
		 org.hibernate.dialect.MySQLInnoDBDialect
		 org.hibernate.dialect.MySQLMyISAMDialect
		 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- 将线程与线程绑定——》只有配置了该配置才能使用getCurrentSession-->
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping resource="com/itheima/test/User.hbm.xml"/>
		<!--<class-cache-->
			<!--class="org.hibernate.test.legacy.Simple"-->
			<!--region="Simple"-->
			<!--usage="read-write"/>-->
	</session-factory>
</hibernate-configuration>